html {
    box-sizing: border-box;
    font-size: 62.5%;
    }
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* Utilities */
.hidden{
    display: none;
}
header{
    /* background-color: #F9A826; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.logo{
    width: 20%;
}
.logo img {
    width: 100%;
    height: auto;
    display: block;
}
nav{
    /* border: 2px solid black; */
    width: 40%;
    display: flex;
    justify-content: space-around;

}
nav a{
    color:#F9A826;
}
form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #F9A826;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #F9A826;
}
.welcome-section {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome-section-hero{
    width: 80%;
}
.welcome-section-hero img{
    width: 100%;
    height: auto;
    display: block;
}
.welcome-section-title{
    text-align: center;
}
/* cards */
.container{
  background-color:#F9A826 ;
  display: flex;
  justify-content: center;
  padding: 4rem;
}
.movie-card{
    width: 70%;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 3rem;
    background-color:#ccc;
    
}
.movie-card-title{
    color: #F9A826;
    text-align: center;
}